:80 {
    handle_path /upload-service* {
        reverse_proxy {
            dynamic a upload-service 3000
            lb_policy round_robin
        }
    }

    handle_path /quota-service* {
        reverse_proxy {
            dynamic a quota-service 3001
            lb_policy round_robin
        }
    }

    handle_path /catalog-service* {
        reverse_proxy {
            dynamic a catalog-service 3002
            lb_policy round_robin
        }
    }
}
