:80 {
    handle /upload-service* {
        reverse_proxy upload-service:3000 {
            lb_policy round_robin
        }
    }

    handle /quota-service* {
        reverse_proxy quota-service:3001 {
            lb_policy round_robin
        }
    }

    handle /catalog-service* {
        reverse_proxy catalog-service:3002 {
            lb_policy round_robin
        }
    }
}